* {
	padding: 0;
	margin: 0;
}


button {
    align-items: center;
    width: 100%;
    display: inline-flex;
    border: none;
    /* border-radius: 10px; */
    font-size: 16px;
    cursor: pointer;
    background: transparent;
    padding: 10px;
    transition: ease 0.2s background,
                ease 0.2s color;
}

button img {
    padding-right: 6px;
    width: 16px;
    filter: invert(100%);
    /* transition: ease 0.2s filter; */
}

button:hover {
    background: #DECFBD;
    color: white;
    border: none;
}

#navigation_bar {
    position: fixed;
    /* background: red; */
    /* display: inline-table; */
    top: 50%;
    transform: translateY(-50%);
}
#navigation_bar ul li {
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.4);
	z-index: 1;
}